# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.venv_old/
pyvenv.cfg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.venv_old

# Media files
*.mp3
*.mp4
*.wav
data/
temp/

# OS
.DS_Store
